wsdl/WebService.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>

<definitions name='DocumentSearch'
             targetNamespace='http://example.org/DocumentSearch'
             xmlns:tns='DocumentSearch'
             xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
             xmlns:xsd='http://www.w3.org/2001/XMLSchema'
             xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
             xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
             xmlns='http://schemas.xmlsoap.org/wsdl/'>

    <message name='getDocumentByDataRequest'>
        <part name='data' type='xsd:string'/>
    </message>
    <message name='getDocumentByDataResponse'>
        <part name='result' type='xsd:string'/>
    </message>

    <message name='APIValidateRequest'>
        <part name='apiKey' type='xsd:string'/>
    </message>
    <message name='APIValidateResponse'>
        <part name='return' type='xsd:string'/>
    </message>
    

    <portType name='DocumentSearchPortType'>

        <operation name='getDocumentByData'>
            <input message='tns:getDocumentByDataRequest'/>
            <output message='tns:getDocumentByDataResponse'/>
        </operation>

        <operation name='APIValidate'>
            <input message='tns:APIValidateRequest'/>
            <output message='tns:APIValidateResponse'/>
        </operation>

    </portType>

    <binding name='DocumentSearchBinding' type='tns:DocumentSearchPortType'>
        
        <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>

        <operation name='getDocumentByData'>
            <soap:operation soapAction='urn:DocumentSearch#getDocumentByData'/>
            <input>
                <soap:body use='encoded' namespace='urn:DocumentSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:DocumentSearch' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </output>
        </operation> 

    </binding>

    <service name='DocumentSearchService'>
        <port name='DocumentSearchPort' binding='DocumentSearchBinding'>
            <soap:address location='http://localhost:8080/sisgd/wsdl/soap-service.php'/>
        </port>
    </service>

</definitions>